@font-face {
    font-family: 'science';
    font-style: normal;
    font-weight: normal;
    src: local('science'), url('/science-fair.otf') format('opentype');
  }

@font-face {
    font-family: 'feel-free';
    font-style: normal;
    font-weight: normal;
    src: local('feel-free'), url('/FeelfreePersonalUseRegular-lg2Bw.ttf') format('truetype');
}


body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #e7e7e7;
}


h1, h2, h3, h4, h5, h6 {
  color: #e7e7e7;
  font-family: "science", Helvetica, Arial, sans-serif;
}